@model TiendaMusica.Models.Vinilo

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Vinilo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sello)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sello)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoSello)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoSello)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pulgadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pulgadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RPM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RPM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPublicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPublicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estilo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estilo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>
</div>
    
@if ( User.Identity.IsAuthenticated ){
    if ( User.IsInRole("Admin") || User.IsInRole("Empleado") ){
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
            <a asp-action="Index">Volver</a>
        </div>
    } else {
            <div>     
                <a asp-action="Index">Volver</a>
            </div>
            }
} else {       
        <div>     
            <a asp-action="Index">Volver</a>
        </div>    
        }
