@model IEnumerable<TiendaMusica.Models.Otro>

@{
    ViewData["Title"] = "Otros";
}

<h1>Otros</h1>

@if ( User.Identity.IsAuthenticated ){
    if ( User.IsInRole("Admin") || User.IsInRole("Empleado") ){
        <p>@Html.ActionLink("Agregar un nuevo producto", "Create")</p>
        }
    }

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>

            @if ( User.Identity.IsAuthenticated ){
                if ( User.IsInRole("Admin") || User.IsInRole("Empleado") ){
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
                    </td>
                } else {       
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ID">Detalles</a>
                        </td>
                        }
            } else {       
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ID">Detalles</a>
                    </td>
                    }
                    
        </tr>
}
    </tbody>
</table>
